.yt-playlist-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
.yt-playlist-list {
  max-height: calc(4.5rem * 10);
  overflow-y: auto;
}

.yt-playlist-list-item {
  padding: $spacing-sm $spacing-md;
  color: $color-text-primary;
  cursor: pointer;
  transition: background 0.2s;

  &.active {
    background: $color-surface-variant;
  }
  &:hover {
    background: $color-surface;
  }
}

.loading-playlist {
  padding: $spacing-md;
  color: $color-text-secondary;
  text-align: center;
}
