.hidden-player-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  transform-origin: top;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  &.hidden {
    height: 0;
    opacity: 0;
    transform: scaleY(0);
    box-shadow: none;
  }

  &.visible {
    height: 100%;
    opacity: 1;
    transform: scaleY(1);
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }

  /* Поля для ReactPlayer */
  iframe,
  video {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }
}
